<%= form_tag({:controller => "notes", :action => "create_on_participant"}, :method => 'post', :class => 'centralized') do %>
    <div class="field">
      <%= text_area_tag(:content, '', :size => "24x6") %>
    </div>
    <div class="field">
      <%= text_field_tag(:participant_id,{}, :value => @participant.id, :type=>'hidden' ) %>
    </div>
    <div class="actions">
      <%= submit_tag("Create") %>
    </div>

<% end %>