<h1>Editing note</h1>

<%= render 'form_on_event' %>

<td><%= link_to "Show", {:controller => "notes", :action => "show_on_event", :note => @note} %></td>
<%= link_to 'Back', '/user_program/show_event/?id='+@event.id.to_s %>
