<h1>Editing note</h1>

<%= render 'form_on_participant' %>

<td><%= link_to "Show", {:controller => "notes", :action => "show_on_participant", :note => @note} %></td>
<%= link_to 'Back', notes_path %>
