<% if @notes.any? %>
    <table class='limited_content_listed p90'>
      <tr>
        <th>Note</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @notes.each do |note| %>
          <tr>
            <td class="limited_content p90"><%= note.content %></td>
            <td class="p5"><%= link_to "Edit", {:controller => "notes", :action => "edit_on_participant", :note => note}, :class => 'classname' %></td>
            <td class="p5"><%= link_to "Delete", {:controller => "notes", :action => "destroy_on_participant", :note => note}, :method => 'post', :class => 'classname' %></td>
          </tr>
      <% end %>
    </table>
<% else %>
    <p>You haven't added notes about this person!</p>
<% end %>

<p><%= link_to "New Note", {:controller => "notes", :action => "new_on_participant", :participant_id => @participant.id}, :class => 'classname' %></p>

