<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @area_of_interest.name %>
</p>


<%= link_to 'Edit', edit_area_of_interest_path(@area_of_interest) %> |
<%= link_to 'Back', area_of_interests_path %>
