html = "<div>"

html += "<p>Title: <%= @networking.title %> </p> "
html += "<p>Content:</p>"
<% @networking.content.split(/\r\n/).each do |line| %>
html += "<p><%= line %></p>"
<% end %>

<% if @networking.area_of_interests.any? %>

<% len = @networking.area_of_interests.length %>

html += "<p>Interests: </p>"
html += "<p>"
<% @networking.area_of_interests.each_with_index do |interest, index| %>
<% if index+1 == len   %>
html += "<%= interest.name %>."
<% else    %>
html += "<%= interest.name %>, "
<% end %>
<% end %>
html += "</p>"
<% end %>

html += "</div>"

$("#networking").fadeOut("slow", function () { $(this).empty().append(html).fadeIn(); })