<p id="notice"><%= notice %></p>

<p>
  <b>Version:</b>
  <%= @program_version.version %>
</p>


<%= link_to 'Edit', edit_program_version_path(@program_version) %> |
<%= link_to 'Back', program_versions_path %>
