<% if @already_added %>
//alert("Event was already part of your personal program.")
<% else %>
//alert("Event added to personal program.")
<% end %>

<% if @remove_button %>

$("#event_buttons").fadeOut("slow", function () {
    $(this).empty().append("<p>Added to personal program.</p> <%= escape_javascript( link_to 'Remove from personal program', {:controller => "user_program", :action => "remove_event", :id => @event_id, :internal => true},:method => 'post', :remote => true,:class => 'classname')%>").fadeIn();
})
<% else %>
a = $('#calendar').fullCalendar('getEventByID', <%= @event_id %>)
a.attending=true
$('#' + <%= @event_id %> + 'hov').remove();

<% end %>