html = ""
<% @notes.each do |note| %>
html += "<tr class='result'>"
    html += "<td>"
        <% if note.about_person %>
        html += "<p><%= escape_javascript(link_to note.about_person.person.prefix<<" "<<note.about_person.person.first_name<<" "<<note.about_person.person.last_name,  '/user/show_all_participants/?id='+note.about_person.person_id.to_s ) %></p>"
        <% else
             if note.about_event %>
        html += "<p><%= escape_javascript(link_to note.about_event.event.title, '/user_program/show_event/?id='+note.about_event.event_id.to_s) %></p>"

        <% else %>
        html += "<p>Nothing</p>"
        <% end %>
        <% end %>
    html += '</td>'
    html += '<td  colspan="42">'
        html += "<p><%= escape_javascript(link_to note.content,  {:controller => "notes", :action => "show", :id => note.id}) %></p>"

    html += '</td>'

html += '</tr>'
<% end %>
html += '<tr class="result"><td>'
html += '<%= escape_javascript(will_paginate @notes )%>'
html += '</td>'
html += '</tr>'

$(".result").fadeOut("slow", function () {
    $(this).empty();
    $(this).remove();
    $(".pagination a").attr( 'data-remote', 'true' );
});
$("#search_results").append(html).children.each(function () {
    $(this).fadeIn()
    $(".pagination a").attr( 'data-remote', 'true' );
});




