html = ""
<% @people.each do |person| %>
html += '<tr>'

html += "<td colspan='3'> <%= person.prefix %> <%= person.first_name %> <%= person.last_name %> </td>"

html += '</tr>'
<% end %>


$("#search_results tr").eq(1).fadeOut("slow", function () {
    $(this).empty().append(html).fadeIn();
})
