html = '<div>'
html += '<table>'

html += '<tr>'

html += '<th colspan="42"><p>Name</p></th>'

html += '</tr>'
<% @people.each do |person| %>
html += '<tr>'

html += '<th><p><%= person.prefix %> <%= person.first_name %> <%= person.last_name %></p></th>'

html += '</tr>'
<% end %>


html += '</table>'
html += '</div>'
$("#search_results").fadeOut("slow", function() { $(this).empty().append(html).fadeIn(); })
