<h1 class="centralized">Documents</h1>




<ul>
  <% @per_area.each_with_index do |var, i| %>
      <li>
        <p><%= @areas_of_interest[i].name %></p>

        <% if var.any? %>
            <ul>
        <% end %>
        <% var.each_with_index do |doc, j| %>
            <li><b>Download:</b> <%= link_to doc.title, {:controller => "user", :action => "download_document", :document_id => doc.id} %></li>
        <% end %>
        <% if var.any? %>
            </ul>
        <% end %>
      </li>
  <% end %>
</ul>
