<h1>Locations:</h1>

<%= collection_select(:title, :locations_id, @locations, :id, :title, {}, {'data-remote' => true}) %>

<% if @location %>
    <div>
      <div id="location_title">
        <p><%= @location.title %></p>
      </div>
      <div id="location_image">
        <p><img src='/images/<%= @location.image %>' alt='<%= @location.title %>'></p>
      </div>
    </div>


<% end %>