$("#location_title").fadeOut("slow", function() { $(this).empty().append("<p><%= @location.title %></p>").fadeIn(); })
$("#location_image").fadeOut("slow", function() { $(this).empty().append("<p><%= @location.image %></p>").fadeIn(); })