<h1 class="centralized">Notifications</h1>

<% if @org_notifications.any? %>
<table >
  <tr>
    <th class="bottom_border">Title</th>
    <th class="bottom_border">Message</th>
    <th class="bottom_border">Updated At</th>
  </tr>

  <% @org_notifications.each do |org_notification| %>
      <tr >
        <td class="bottom_border"><%= org_notification.title %></td>
        <td class="bottom_border"><%= org_notification.content %></td>
        <td class="bottom_border"><%= org_notification.updated_at.strftime("%D %H:%M") %></td>
      </tr>
  <% end %>
</table>
    <%= will_paginate @org_notifications %>

<% else %>
    <p>The organization has added no notifications yet!</p>
<% end %>