<div class='centralized '>
  <div class="inline">

    <%= link_to 'Feedback', {:controller => 'user', :action => 'organization'}, :method => 'get', :class=>'classname' %>
    <%= link_to 'Message', {:controller => 'user', :action => 'organization', :orgmessage => true}, :method => 'post', :class=>'classname' %>
  </div>

  <% if @orgmessage %>
      <%= render 'organization_message' %>
  <% else %>
      <%= render 'feedback' %>
  <% end %>

</div>
