<h1>Listing removed_notifications</h1>

<table>
  <tr>
    <th>Sequence number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @removed_notifications.each do |removed_notification| %>
  <tr>
    <td><%= removed_notification.sequence_number %></td>
  </tr>
<% end %>
</table>

<br />
