<p id="notice"><%= notice %></p>

<p>
  <b>Sequence number:</b>
  <%= @removed_notification.sequence_number %>
</p>


<%= link_to 'Edit', edit_removed_notification_path(@removed_notification) %> |
<%= link_to 'Back', removed_notifications_path %>
