/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *#= #require_tree .
 */

body {
    background-color: #CCCCCC;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    display: block;
    position: relative;
    float: left;
}

li ul {
    display: none;
}

ul li a {
    display: block;
    padding: 5px 15px 5px 15px;
    margin-left: 1px;
    white-space: nowrap;
}

li:hover ul {
    display: block;
    position: absolute;
}

li:hover li {
    float: none;
}

.right {
    float: right;
    clear: right;
    margin-right: 100px;
}

.title {
    margin-right: 25px;
    float: left;
    font-size: 3em;
}

.nav_bar {
    float: left;
}

.nav_bar_image {

}

.nav_bar_link {
    float: left;
    clear: both;
    text-align: center;
}

hr {
    clear: both;
}
.menu {
    background-color: #AAAAAA;
}
.menu a {
    color: #EEEEEE;
}
.body a {
    color: #000000;
}
.body {
    margin:0px auto;
    width:900px;
    background-color: #BBBBBB;
}
.body table, .body th, .body td {
    border: 1px solid black;
}

#person_photo {
    float: right;
}

.border {
    border: 1px solid black;
}
.control {
    float:right;
}

#person_networking {
    float:right;
    text-align: center;
}

.person_image {
    max-width: 300px;
    max-height: 300px;
}
.person_thumbnail {
    max-width: 100px;
    max-height: 100px;

}