/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *#= #require_tree .
 *
 *
 *=require fullcalendar.css
 *=require fullcalendar.print.css
 *
 */
* {
    font-family: "Georgia", Georgia, Serif;
}

.hover-end {
    padding: 1;
    margin: 1;
    font-size: 75%;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#title {
    margin: 15px;
}

#title {
    font-size: 4em;
    float: left;
}

.body h1 {
    margin-top: 2px;
}

.menu td a {
    text-align: center;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    display: block;
    position: relative;
    float: left;
}

li ul {
    display: none;
}

ul li a {
    display: block;
    padding: 5px 15px 5px 15px;
    margin-left: 1px;
    white-space: nowrap;
}

li:hover ul {
    display: block;
    position: absolute;
}

li:hover li {
    float: none;
}

.right {
    float: right;
    clear: right;
    text-align: right;
}

.nav_bar {
    float: left;
}

.nav_bar_image {

}

.nav_bar_link {
    text-align: center;
}

hr {
    clear: both;
}

.control {
    float: right;
}

#person_networking {
    float: right;
    text-align: center;
}

.person_image {
    max-width: 300px;
    max-height: 300px;
}

.person_thumbnail {
    max-width: 100px;
    max-height: 100px;
}

.size_100 {
    height: 100px;
}

#location_image img {
    max-height: 1000px;
    max-width: 900px;
}

.search {
    float: right;
}

.centralized {
    text-align: center;
}

.centralized table {
    margin: auto;
}

#search_results {
    width: 1100px;
}

.limited_content_listed {
    max-width: 800px;
    min-width: 800px;
}

.limited_content {
    overflow: hidden;
    white-space: nowrap;
    height: 3em;
    max-height: 3em;
    text-overflow: ellipsis;
}

.inline > * {
    display: inline-block;
}

.max_width_900 {
    max-width: 900px;
}

.max_width_600 {
    max-width: 600px;
}

.width_125 {
    width: 125px;
    max-width: 125px;
    min-width: 125px;
}
