/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *#= #require_tree .
 *
 *
 *=require fullcalendar.css
 *=require fullcalendar.print.css
 *
 */

.event_bg_default {

    background-color: #CDB38B;

}

.event_bg_ps {
    background-color: #4876FF;
}

.event_bg_k {
    background-color: #FFD700;
}

.event_bg_se {
    background-color: #32CD32;
}


* {
    font-family: 'Georgia', Georgia, Serif;

}

.menu a {
    text-decoration: none;
}

a {
    color: black;
}

html, body {
    margin: 0;
    width: 100%;
    background-color: white;
}

.menu hr {
    margin-bottom: 0;
}

.body {
    width: 90%;
}

.hover-end {
    padding: 1px;
    margin: 1px;
    font-size: 75%;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#title {
    margin: .1em;
}

#title {
    font-size: 4em;
    float: left;
}

.body h1 {
    margin-top: 2px;
}

.menu td a {
    text-align: center;
    margin: 0 auto;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul li {
    display: block;
    position: relative;
    float: left;
}

.menu li ul {
    background-color: #f5f5f5;
    display: none;
}

.menu ul li a {
    display: block;
    padding: 5px 15px 5px 15px;
    margin-left: 1px;
    white-space: nowrap;
}

.menu li:hover ul {
    display: block;
    position: absolute;
}

.menu li:hover li {
    float: none;
}

.right {
    float: right;
    clear: right;
    text-align: right;
}


.nav_bar {
    float: left;
}

.nav_bar_image {

}

.nav_bar_link {
    text-align: center;
}

hr {
    clear: both;
}

.control {
    float: right;
}

#person_networking {
    float: right;
    text-align: center;
}

.person_image {
    max-width: 300px; /* TODO */
    max-height: 300px; /* TODO  */
}

.person_thumbnail {
    max-width: 100px; /* TODO  */
    max-height: 100px; /* TODO  */
}

#location_image {
    background-color: white;
}

#location_image img {
    max-height: 1000px; /* TODO  */
    max-width: 90%;
}

.search {
    float: right;
    clear: right;
}

.centralized {
    text-align: center;
}

.centralized table {
    margin: auto;
}

#search_results {
    width: 95%;
}

.limited_content {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    height: 3em;
    max-height: 3em;
    text-overflow: ellipsis;
}

.limited_note {
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.inline > * {
    display: inline-block;
}

.menu a {
    margin: 0 auto;
}

.p90 {

    width: 90%;
    margin: auto;
}

.p20 {
    width: 20%;
}

.p5 {
    width: 5%;
}

.p100 {
    width: 100%;
}



.classname2 {
    -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
    -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
    box-shadow:inset 0px 1px 0px 0px #caefab;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
    background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #268a16;
    display:inline-block;

    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;

}.classname2:hover {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
     background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
 }.classname2:active {
      position:relative;
      top:1px;
  }

.just {
    text-align: justify;
    text-justify: inter-word;
}

.margin_left {
    margin-left: 5px;
}