/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *#= #require_tree .
 *
 *
 *=require fullcalendar.css
 *=require fullcalendar.print.css
 *
 */

#title a {
    color:  darkblue;
}

#title {
    font-size: 4em;
    float: left;
}

.menu a {
    color: darkblue;
    margin: 0 auto;
}

.menu h1 {
    color: darkblue;
}

.menu {
    background-color: cornflowerblue;
}

body {
    background-color: #CCCCCC;
}

.body {
    margin: 0px auto;
    width: 1100px;
    background-color: #ffffff;
    padding: 5px 15px 5px 5px;
}

.menu td {
    text-align: center;
    width: 100px;
}

.border {
    border: 1px solid black;
}
.bottom_border {
    border-bottom: 1px solid cornflowerblue;
}

.right_border {
    border-right: 1px solid cornflowerblue;
}
.classname {
    -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
    background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    background-color:#79bbff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    color:white;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #528ecc;
}.classname:hover {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
     background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
     background-color:#378de5;
 }.classname:active {
      position:relative;
      top:1px;
  }